@import "tailwindcss";

@theme: {
  --color-Primary: "#071739";
  --color-Primary-semi-light: "#4B6382";
  --color-Primary-light: "#A4B5C4";
  --color-custom-light-gray: "#CDD5DB";
  --color-custom-brown: "#A68868";
  --color-custom-beige: "#E3C39D";
};
