@import "tailwindcss";

@theme {
  --color-primary: #071739;
  --color-Primary-semi-light: #4b6382;
  --color-Primary-light: #a4b5c4;
  --color-light-gray: #cdd5db;
  --color-custom-brown: #a68868;
  --color-custom-beige: #e3c39d;
}
